body {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    background-color: black;
    color: white;
    margin: 0;
    overflow-y: scroll;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topBar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: DarkSlateGrey;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    z-index:999;
}

@media (min-width:2000px) {
    .topBar {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.footerBar {
    display: block;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    margin-top: 15rem;
    margin-bottom: 5rem;
    margin-left: 0;
    color: grey;
    text-align: center;
}

a {
    color: #6fffea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.topBarLink {
    height:100%;
    min-width:3rem;
    background-color: #182828;
    display:inline-block;
    text-align:center;
    padding-left:0.25rem;
    padding-right:0.25rem;
    margin: 0px;
}

a .topBarLink {
    color: white;
}

.topBarLink:hover {
    background-color: #0C1515;
}

.topBarDropDown {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.topBarSearch {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#topBarSearchResults {
    display: none;
    position: absolute;
    z-index: 1;
    line-height: 1.5em;
    overflow-y: auto;
    height: 19em;
    width: 25em;
    border-radius: 6px;
}

.topBarSearchBar {
    margin-left: 8px;
    border-radius: 8px;
    font-family: MS UI Gothic, Verdana, sans-serif;
    z-index: 2;
}

#topBarSearchResults a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
}

#topBarSearchResults a:hover {
    text-decoration: underline;
}

.pink-background {
    background-color: #6A4256 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #395f5f;
    min-width: 8rem;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 0.01rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: DarkSlateGrey;
}

.topBarDropDown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 3rem;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 50%;
}

.warningBar {
    margin-top: 5rem;
    padding: 1rem;
    border: 1px solid FireBrick;
    border-radius: 16px;
    width: 27.5%;
    min-height: 3.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.star-rating-list {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}

.friend-box {
    width: 7em;
    display: flex;
    margin: 0.25em;
    padding: 1em;
    text-align: center;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-color: DarkSlateGrey;
}

.starRemoveButton {
    opacity: 0;
    font-size: 16px;
    padding-left: 0.25em;
    box-sizing: border-box;
}

@media only screen and (max-width: 1050px) {
    .starRemoveButton {
        opacity: 1;
    }

    .content{
        padding-left:10%;
        padding-right:10%;
    }

    .topBar{
        padding-left:2%;
        padding-right:2%;
    }

    .topBarUsername{
        display:none;
    }

    .topBarSearchBar{
        width: 3.5em;
    }

    .column-when-mobile-container {
        flex-direction: column;
    }

    .column-when-mobile {
        width: 100% !important;
    }
}

.identifier:hover ~ .starRemoveButton:not(.disabled), .starRemoveButton:hover:not(.disabled) {
    opacity: 0.5;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}

.star-value {
    font-size: 18px;
}

.star {
    white-space: nowrap;
}

span.subText{
    font-size: 11px;
    color: #a8a8a8;
}

.ratingContainer {
    background-color: DarkSlateGrey;
    align-items: center;
}

img {
    vertical-align: middle;
}

.flex-container {
    display: flex;
    width: 100%;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-child {
    margin: 0.25em;
    vertical-align: middle;
}

.diffThumb {
    height: 32px;
    width: 32px;
    border: 1px solid #ddd;
    object-fit: cover;
}

.chart-container{
    background-color: DarkSlateGrey;
    align-items: center;
}

.chart-container > div{
    padding:0.5em;
    flex-grow: 1;
    height:100%;
}

.pagination {
    display: inline-block;
    color: DarkSlateGrey;
}

.pagination #page{
    color: white;
}

.pagination a {
    color: darkslategray;
}

.pagination span {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination .active {
    font-weight: 900;
    color: white;
}

select {
    margin: 0.2em;
    padding: 0.2em;
    border: none;
    border-radius: 1px;
    background-color: DarkSlateGrey;
    color: white;
}

button {
    min-width: 6em;
    border: 1px solid white;
    background-color: #203838;
    color: white;
}

button:hover {
    background-color: #182828;
    cursor:pointer;
}

button.mutual {
    background-color: #714977;
}

button.mutual:hover {
    background-color: #492450;
}

button.blocked {
    background-color: #774949;
}

button.blocked:hover {
    background-color: #502424;
}

.difficulty-container{
    background-color:DarkSlateGrey;
    justify-content: space-between;
    align-items: center;
    min-height: 5.5em;
}

.difficulty-container > div{
    padding:0.5em;
    flex-grow: 1;
    height:100%;
}

.mapsetRankingDistribution{
    width:100%;
    height:1.5rem;
    margin:0px;
    color:rgba(125, 125, 125, 0.33);
    display: flex;
    transform: rotate(180deg);
}

.mapsetRankingDistributionBar{
    float:bottom;
    width: calc(100% / 11);
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    display:inline;
    vertical-align: bottom;
    background-color: rgba(125, 125, 125, 0.33);
    border-bottom: 1px solid rgba(125, 125, 125, 0.33);
}

.commentContainer {
    background-color: DarkSlateGrey;
    padding: 0px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.commentHeader {
    align-items: center;
    width: 100%;
    background-color: #203838;
    padding: 0.25em;
    margin: 0;
}

.comment {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
    min-height: 3em;
    width: 100%;
}

.commentComposer {
    width: 100%;
    text-align: right;
    margin: 1em;
}

textarea#commentForm {
    width: 100%;
    text-align: left;
    resize: none;
    height: 6em;
    background-color: #203838;
    color: white;
    border: 1px solid white;
}

input {
    border: 1px solid white;
    margin: 1em;
    background-color: #203838;
    color: white;
}

input#commentSubmit {
    width: 6em;
}

input#commentSubmit:hover {
    background-color: #182828;
}

summary{
    cursor:pointer;
}

.clickable {
    cursor: pointer;
}

.unrated{
    color: grey;
}

tr label{
    text-align:right;
    width:100%;
    display:inline-block;
}
td{
    vertical-align:top;
    padding: 1rem;
}
td input{
    margin: 0.25rem;
}

.icon-remove {
    cursor: pointer;
}

.osuTimestamp {
    background-color: #203838;
    font-weight:bold;
    color:white;
    border-radius: 2px;
    padding: 0.05em;
}

.bolded{
    font-weight: bold;
}

.starRatingDisplay {
    display: inline-block;
    white-space: nowrap;
    width:5em;
    padding-right:0.25em;
}

.starRatingDisplay .icon-star{
    margin:0.05em;
}

ol.star-rating-list{
    margin:0;
    padding:0;
}

ol.star-rating-list > li{
    margin:0;
    padding:0;
}

.starBackground {
    color: #203838;
    z-index: 0;
    display: inline-block;
    position:absolute;
}

.starForeground {
    color: white;
    z-index: 2;
    display: inline-block;
    position:relative;
}

.faded {
    opacity: 0.33;
}

.alternating-bg:nth-of-type(odd) {
    background-color: #203838;
}

.alternating-bg:nth-of-type(even) {
    background-color: DarkSlateGray;
}

.alternating-bg-pink:nth-of-type(odd) {
    background-color: #4F2F3F;
}

.alternating-bg-pink:nth-of-type(even) {
    background-color: #6A4256;
}

.alternating-bg:nth-of-type(odd) .starBackground{
    color: darkslategray;
}

.alternating-bg-pink:nth-of-type(odd) .starBackground{
    color: #6A4256;
}

.alternating-bg-pink:nth-of-type(even) .starBackground{
    color: #4F2F3F;
}

/* || PROFILE PAGE */

.profileContainer{
    display: flex;
    align-items: center;
}

.profileCard{
    display: inline-flex;
    flex-direction: column;
    border:1px solid DarkSlateGrey;
    padding:1.5em;
    text-align: center;
    width: 16rem;
    margin: 0.5rem;
    align-items: center;
}

.ratingsCard{
    background-color: DarkSlateGrey;
    padding: 1.5em 0em 1.5em 0em;
    margin: 0.5rem;
    width:100%;
    height: 44em;
    overflow-y: scroll;
    position: relative;
}

.profileStats {
    text-align: left;
    margin: 0.5em;
}

.profileActions {
    margin-top: 0.5em;
    display: block;
    min-height: 1.5em;
}

.ratingChoices{
    display: inline-block;
    color: white;
    margin-bottom:0.5rem;
}

.ratingChoice{
    border:1px solid white;
    padding:0.1em 0.5em;
    min-width:0.2em;
    cursor:pointer;
    font-size:10px;
    color: white;
}

.profileRankingDistribution {
    border:1px solid DarkSlateGrey;
    width:14em;
    height:14em;
    padding:0px;
    color:rgba(125, 125, 125, 0.66);
    overflow: clip;
}

.profileRankingDistribution a {
    color:rgba(125, 125, 125, 0.66);
}

.profileRankingDistributionBar {
    height: calc(100% / 11);
    width:100%;
    margin:0px;
    padding:0px;
    text-align:left;
    background-color:#282828;
    padding-left:0.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.verticalLine {
    height: 100%;
    margin: 0;
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
    bottom: 100%;
    display: inline-block;
}

.profile-top-map {
    padding: 0.5em;
    width: 100%;
    background-color: darkslategray;
    display:flex;
    align-items: center;
}

.profile-lesser-map {
    margin-left:40%;
    margin-right:0;
    background-color:darkslategray;
    padding: 1em;
}

.profile-top-map:nth-child(4n+1) {
    background-color: #203838;
}

.profile-top-map:nth-child(4n+1) + .lesser-maps .profile-lesser-map:nth-of-type(even){
    background-color: #203838;
}

.profile-top-map:nth-child(4n-1) + .lesser-maps .profile-lesser-map:nth-of-type(odd){
    background-color: #203838;
}

.profile-top-map:nth-child(4n+1) .starBackground{
    color: darkslategray;
}

.profile-top-map:nth-child(4n+1) + .lesser-maps .profile-lesser-map:nth-of-type(even) .starBackground{
    color: darkslategray;
}

.profile-top-map:nth-child(4n-1) + .lesser-maps .profile-lesser-map:nth-of-type(odd) .starBackground{
    color: darkslategray;
}

.profile-lesser-map:nth-last-child(1){
    margin-bottom:1em;
}