// TODO: May need to scope some of the CSS classes on these sub-stylesheets,
// since they are page-specific...
@import "profile";
@import "mapset";

body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  background-color: black;
  color: white;
  margin: 0;
  overflow-y: scroll;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topBar {
  position: sticky;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: DarkSlateGrey;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.75rem;
  line-height: 3rem;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 999;
}

.footerBar {
  display: block;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  box-sizing: border-box;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 0;
  color: grey;
  text-align: center;
}

a {
  color: #6fffea;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.topBarLink {
  height: 100%;
  min-width: 3rem;
  background-color: #182828;
  display: inline-block;
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin: 0px;
  color: white;

  &:hover {
    background-color: #0c1515;
    text-decoration: none;
  }
}

.topBarDropDown {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.topBarSearch {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#topBarSearchResults {
  display: none;
  position: absolute;
  z-index: 1;
  line-height: 1.5em;
  overflow-y: auto;
  height: 19em;
  width: 25em;
  border-radius: 6px;
}

.topBarSearchBar {
  margin-left: 8px;
  border-radius: 8px;
  font-family: MS UI Gothic, Verdana, sans-serif;
  z-index: 2;
}

#topBarSearchResults a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

#topBarSearchResults a:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #395f5f;
  min-width: 8rem;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 0.01rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: DarkSlateGrey;
}

.topBarDropDown:hover .dropdown-content {
  display: block;
}

.content {
  margin-top: 1.5rem;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50%;
}

.warningBar {
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid FireBrick;
  border-radius: 16px;
  width: 27.5%;
  min-height: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.star-rating-list {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

.starRemoveButton {
  opacity: 0;
  font-size: 16px;
  padding-left: 0.25em;
  box-sizing: border-box;
}

@media only screen and (max-width: 1050px) {
  .starRemoveButton {
    opacity: 1;
  }

  .content {
    padding-left: 10%;
    padding-right: 10%;
  }

  .topBar {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.identifier:hover ~ .starRemoveButton:not(.disabled),
.starRemoveButton:hover:not(.disabled) {
  opacity: 0.5;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.star-value {
  font-size: 18px;
}

.star {
  white-space: nowrap;
}

span.subText {
  font-size: 11px;
  color: #a8a8a8;
}

.ratingContainer {
  background-color: DarkSlateGrey;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-child {
  margin: 0.25em;
  vertical-align: middle;
}

.ratingContainer {
  .rating-and-map {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .comment {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .timestamp {
    flex-shrink: 1;
    white-space: nowrap;
  }
}

.diffThumb {
  height: 32px;
  width: 32px;
  border: 1px solid #ddd;
  object-fit: cover;
}

select {
  margin: 0.2em;
  padding: 0.2em;
  border: none;
  border-radius: 1px;
  background-color: DarkSlateGrey;
  color: white;
}

.commentContainer {
  background-color: DarkSlateGrey;
  padding: 0px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  .commentHeader {
    align-items: center;
    width: 100%;
    background-color: #203838;
    padding: 0.25em;
    margin: 0;
  }

  .comment {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
    min-height: 3em;
    width: 100%;
  }

  .commentComposer {
    width: 100%;
    text-align: right;
    margin: 1em;
  }
}

textarea#commentForm {
  width: 100%;
  text-align: left;
  resize: none;
  height: 6em;
  background-color: #203838;
  color: white;
  border: 1px solid white;
}

input#commentSubmit {
  margin: 1em;
  width: 6em;
  border: 1px solid white;
  background-color: #203838;
  color: white;
}

input#commentSubmit:hover {
  background-color: #182828;
}

.icon-remove {
  cursor: pointer;
}

.osuTimestamp {
  background-color: #203838;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  padding: 0.05em;
}

.bolded {
  font-weight: bold;
}

.starRatingDisplay {
  display: inline-flex;
  white-space: nowrap;
  margin-right: 0.25em;

  .icon-star {
    margin: 0.05em;
  }
}

.starBackground {
  color: #203838;
  z-index: 0;
  display: inline-flex;
  position: relative;
  gap: 0;
  align-items: center;
}

.ratingContainer[altcolour] .starBackground {
  color: darkslategray;
}

.starForeground {
  color: white;
  z-index: 2;
  display: inline-flex;
  gap: 0;
  align-items: center;
  position: absolute;
  left: 0;
}

.ratingChoice {
  display: inline-flex;
  gap: 0;
  align-items: center;
}

.pagination {
  display: inline-block;
  color: DarkSlateGrey;

  .page {
    display: inline-block;
    padding: 8px 16px;

    &.current {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .arrow {
    // float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
}
